/* Open dropdowns on hover instead of click. */
@media (min-width: 768px) {
  .dropdown:hover {
    background: #e7e7e7; }
  .dropdown:hover > .dropdown-menu {
    display: block; } }

/* The following is needed since the dropdowns are <div> elements instead of <a> elements */
.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: default; }

.navbar-nav > li > div {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px; }

.navbar-default .navbar-nav > li > div {
  color: #777777; }

.navbar-collapse.collapse {
  display: none; }

.dropdown-open {
  background: #e7e7e7; }

/* /custom bootstrap nav */
/* Variables */
html {
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a,
a:focus,
a:hover {
  color: #fff; }

body {
  /*    padding-top: 50px; /* nav-bar */
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",  "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  display: flex;
  /*min-height: 100vh;*/
  height: 100%;
  flex-direction: column; }

img {
  max-width: 100%;
  width: auto;
  height: auto; }

img {
  vertical-align: middle; }

/* 
 * Main container, used to grow (flex: 1;) the space between the header and 
 * footer when the space is less than the vertical height.
 */
.main {
  flex: 1; }

header, footer, nav {
  flex: none; }

h1 {
  text-align: center;
  font-weight: 500;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.54); }

.area {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .area {
      width: 750px; } }
  @media (min-width: 992px) {
    .area {
      width: 970px; } }
  @media (min-width: 1200px) {
    .area {
      width: 1140px; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  .main > .container {
    margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .container {
      width: 700px; } }
  @media screen and (min-width: 768px) {
    .container.wide {
      width: 720px; } }
  @media screen and (min-width: 992px) {
    .container.wide {
      width: 960px; } }
  @media screen and (min-width: 1200px) {
    .container.wide {
      width: 1140px; } }
  @media screen and (min-width: 1700px) {
    .container.wide {
      width: 1600px; } }

/*
 * div {
 *     .flex.gallery {
 *         padding: 0;
 *         list-style: none;
 *
 *         display: flex;
 *         flex-flow: row wrap;
 *         justify-content: center;
 *     }
 * }
 */
figure {
  margin: 0; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .flex figure {
    padding: 1px;
    flex: 1 1 auto; }
    .flex figure.thumb {
      width: 400px; }
  .flex.gallery {
    /* NB: selector for PhotoSwipe */
    padding: 0;
    list-style: none; }
    .flex.gallery figcaption {
      display: none; }
  .flex.front {
    padding: 5px;
    width: 300px; }

.copyright {
  opacity: 0.3;
  font-size: 0.7em;
  padding: 8px; }

/* On hover effects */
/*
 * div .flex img { 
 *     transition: .8s opacity;
 * }
 * div .flex:hover img {
 *     opacity: 0.3;
 * }
 * div .flex.gallery:hover img:hover {
 *     opacity: 1;
 * }
 */
