{% extends "base.html" %}
{% block content %}
<div class="container wide flex gallery">
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
    <figure class="flex thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" itemprop="contentUrl" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
            <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" alt="" />
        </a>
    </figure>
</div>
{% endblock %}
